<div id="modal-registration" class="modal">
  <div class="modal-content">
    <form id="registration-form">
      <div class="mdc-form-field">
        <label>Email: </label>
        <input name="Email" type="email" required placeholder="youremailname@provider.com" id="email" value>
      </div>
      <div class="mdc-form-field">
        <label>Password: </label>
        <input name="Password" type="password" required placeholder="Password" id="password" value>
      </div>
      <div class="mdc-form-field">
        <label>Password wiederholen: </label>
        <input name="Password1" type="password" required placeholder="Password" id="password1" value>
      </div>
      <div class="mdc-form-field">
        <button type="submit" class="mdc-button">Login</button>
      </div>
    </form>
  </div>
</div>
