div{

  font-size:12px;
  padding: 5px;
  background-color: white;
}

.textfelder{
  width:125px !important;
  padding:2px;

}
.buttonReset{
  float: right;


}
.checkboxes{
  font-size:10px;

}
h2{
padding-top:3px;
font-size: 14px;
font-weight: bold;

}
