<div id="modal-login" class="modal">
  <div class="modal-content">
    <form id="login-form">
      <div class="mdc-form-field">
        <label for="email">Email</label>
        <input type="email" class="mdc-checkbox__native-control" id="email" placeholder="Bitte geben Sie Ihre Email-Adresse ein">
      </div>
      <div class="mdc-form-field">
        <label for="password">Password</label>
        <input type="password" class="mdc-checkbox__native-control" id="password" placeholder="Bitte geben Sie Ihr Passwort ein">
      </div>
      <div class="mdc-form-field">
        <button type="submit" class="mdc-button">Login</button>
      </div>
    </form>
  </div>
</div>
