
<div class="columns">
  <div class="column">
    <form>
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="text" class="form-control" id="email_login">
      </div>
      <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" class="form-control" id="password_login">
      </div>
    </form>
  </div>
  <div class="column">
    <div class="form-group">
        <label for="email">Email: </label>
        <input type="text" class="form-control" id="email_registration">
      </div>
      <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" class="form-control" id="password_registration">
      </div>
      <div>
        <label for="password">Password wiederholen: </label>
        <input type="password" class="form-control" id="password_registration_1">
      </div>
  </div>
</div>

