.HeaderText{

    font-size: 40px;
    background-color: black;

}
.LeftAl{
    position: absolute;
    left: 5px;
    top: 5px;

}
.Test123{
    text-align: center;
}

.widthMax{
    width: 100%;
}
.CardButton{
    background-color: coral;
}