.HeaderText{

    font-size: 45px;
    font-weight: bold;

}
.LeftAl{
    position: absolute;
    left: 5px;
    top: 5px;

}
.Test123{
    text-align: center;
}

.widthMax{
    width: 100%;
}
.CardButton{
    background-color: white;
}
.CardText{
    font-size: 25px;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
.Preis{
    font-size: 35px;
    font-weight: bold;
}
.DescHead{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}