.search-field {
    width: 100px;
}

.button-header {
    margin-top: 5px;
    margin-right: 10px;
}

.navbar {
    width: 100%;
    border-radius: 25px;
    border: 2px solid lightblue;
    padding: 5px; 
}

.footer {
    background-color: yellow;
    min-height: 50px;
}

.search-input {
    width: 500px; 
    height: 50px;
}