.img{
  display: block;
  margin-left: 25px;
  margin-right: auto;
 

}

.BtnClass{
  background-color: #3f51b5;
  width: 100%;

  margin-right: 250px;
}
.HeaderBorderHead{

}
.HeaderBorderBody{

  
}
.example-card {
    max-width: 10%;
    max-height: 10%;
  }
  


 



