<div class="columns">
    <div class="column is-10 is-offset-1">
        <ng-image-slider [images]="imageObject" #nav style="height: 300px; width: 100%"></ng-image-slider>
    </div>
</div>
<div class="columns">
    <div class="column is-4 is-offset-1">
        <mat-card class="example-card">
            <mat-card-content>
                <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
                </p>
            </mat-card-content>‚
        </mat-card>
    </div>
    <div class="column is-5">
        <mat-card class="example-card">
            <mat-card-content>
                <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
                </p>
            </mat-card-content>‚
        </mat-card>
    </div>
</div>
<div class="columns">

</div>
