.offerBox {
    max-width: 100%;
    cursor: pointer;
}

.text {
    text-align: center;
    position: relative;
}

.pic {
    margin: 15px;
}

.offerContent {
    text-align: right;
    position: relative;
}

.offerDescription {
    font-size: 20px;
    display:inline-block
}

.leftAlign {
    float: left;
}

.headline {
    margin-top: 20px;
}